body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(199deg 86% 78%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background-image {
    margin-right: -29px;}

.perquisa {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="datetime-local"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #007bff;
}

#instrucao {
    margin-top: -80px;
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: dodgerblue;
    z-index: 1000; /* Para garantir que a mensagem fique acima de outros elementos */
    font-weight: bold;
    width: 200px; /* Largura inicial da mensagem */

}

#instrucao::before {
    color: red;
    content: "Instruções:";
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    /* Estilos para dispositivos móveis */
    #instrucao {
        margin-left: 22px;
        font-size: 12px; /* Tamanho da fonte menor para dispositivos móveis */
    }
}

.navigation-buttons {
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #2980b9;
}


