/* Reset de estilos para garantir uma base consistente em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #01559B,  #ffffff); /* Adicione essa linha para o degradê */
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para links */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Estilos para botões */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 100%; /* Alteração na largura para ocupar 100% */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Responsividade para campos de entrada */
@media screen and (max-width: 768px) {
    input, textarea {
        width: calc(100% - 20px); /* Ajuste para telas menores */
    }
}


/* Estilos para seção de cadastro/login */
.signup-section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

/* Novos estilos adicionados */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-section {
    padding: 10px;
    border-radius: 3%;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.disponivel {
    color: green;
}

.erro {
    color: red;
}
