body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

h3 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    align-items: center;
}

.consulta-card {
    margin-left: 25%;
    width: 50%;
    background-color: hsl(199deg 86% 78%);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.consulta-info {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}

.consulta-info strong {
    font-weight: bold;
    color: dodgerblue;
}

.consulta-info span {
    font-weight: bold;
}

.consulta-botoes {
    margin-top: 10px;
}

.btn-cancelar, .btn-reagendar {
    background-color: #f44336; /* Vermelho */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn-reagendar {
    background-color: #ff9800; /* Laranja */
}

/* Estilos para diferentes status */
.agendada { color: blue; }
.concluída { color: rgb(14, 212, 14); }
.cancelada { color: red; }
.reagendada { color: orange; }

/* Mídia queries para tornar o layout responsivo */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    
    .consulta-card {
        margin: 30px;
        width: 90%;
        padding: 20px;
    }

    .consulta-info {
        font-size: 18px;
    }

    .consulta-botoes {
        font-size: 14px;
    }
}

.btn-avaliar {
    margin-top: 10px;
    font-size: 18px;
    background-color: rgb(232, 252, 53);
    color: rgb(129, 128, 128);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-avaliar:hover {
    background-color: rgb(226, 240, 37);

}
/* Estilos para o modal */
/* Estilos para o modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Mantém o modal no mesmo local na página */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo preto semi-transparente */
}
/* Estilos para o conteúdo do modal */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(199, 86%, 78%, 0.966);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 40%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: relative; /* Para posicionar absolutamente o botão */
}

/* Estilos para o botão de fechar */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* Estilos para as estrelas */
.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rating input {
    display: none; /* Oculta as entradas de rádio padrão */
}

.rating label {
    font-size: 30px; /* Tamanho da fonte dos ícones */
    color: #bdbdbd; /* Cor das estrelas não selecionadas */
    cursor: pointer; /* Altera o cursor para indicar que as estrelas são clicáveis */
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #ffeb3b; /* Altera a cor das estrelas ao passar o mouse ou quando selecionadas */
}

/* Estilos para o textarea */
.modal-content textarea {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permite redimensionamento vertical */
}

/* Estilos para o botão de enviar avaliação */
.modal-content button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) {
    .modal-content {
        margin-top: 40%;
        width: 90%;
        /* margin: 10% auto; */
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  /* Aplica a animação à mensagem de logout */
  .fade-out {
    animation: fadeOut 1s ease-in-out forwards;
  }


