body {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

a {
  font-family: sans-serif;
  text-decoration: none;
}



h2,
h1 {
  float: left;
  width: auto;
  display: flex;

  color: #ffffff;
  flex-direction: column-reverse;
}

.bannertext {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 100%;
  font-weight: 600;
  margin: 20px 0;
}

.bannertext h2 {
  margin-left: 20%;
  /* padding: 10%; */
  padding-top: 15%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
  max-width: 600px;
}

@media screen and (max-width: 768px) {

  /* Estilos para telas com largura máxima de 600 pixels (dispositivos móveis) */
  .bannertext h2 {
    padding: 5%;
    /* width: 100%; */
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 130%;
    font-weight: 600;
  }
}


.videoouter {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -2;
}

.videoouter video {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  object-fit: cover;
}

/* Adicione isso ao seu CSS */

/* Adicione isso ao seu CSS para posicionar o formulário à direita */

form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-right: 10px; 
  display: flex;
  flex-direction: column;
  background-color: hsl(199deg 86% 78%);
    padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-top: 12%;
  width: 100%;
  /* Adiciona uma margem superior para posicionar o formulário no meio */
}

/* Nova regra para posicionar o formulário à direita */
@media screen and (max-width: 1024px) {
  form {
    width: 100%;
    /* margin-left: 65%; */
    flex-direction: column;
    /* padding-left: 100px; */
}



.bannertext h2 {
  margin-left: 20px;
  margin-top: 20%;
  padding: 1%;
  /* padding-bottom: 0%; */
  text-align: center;
  color: #fff;
  /* font-size: 24px; */
  line-height: 130%;
  font-weight: 600;
  max-width: 600px;
}

.hero {
  margin-top: -100px;
  /* height: 100%; */
}
}



label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #ffffff;
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}



form .signup-link a {
  color: #007bff;
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .menu-toggle {
    display: block;
  }

  #headnav ul {
    display: none;
  }

  #headnav.show-menu ul {
    display: block;
  }
}

p {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.hero {
  margin-top: -50px;
  /* height: 100%; */
}