body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  /* padding: 0; */
}

h2 {
  text-align: center;
  margin-top: 50px;
}

#show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.img {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.form {
  margin-bottom: 12px;
  width: 50%;
  max-width: 400px;
   padding: 20px;
  border-radius: 10px;
  background-color: hsl(199deg 86% 78%);
}

label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  height: 40px;
}

select {
  height: 40px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1000px) {
  #show {
      flex-direction: column;
      align-items: center;
      margin-top: 0;

  }

  .form {

      width: 80%;
  }

  .img {
      margin-right: 0;
      margin-top: 0;
  }
}

h2,label,p{
  color: white;
}

#intro {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show-intro #intro {
  opacity: 1;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Aplica a animação à mensagem de logout */
.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

#logoutMessage{  /* margin-bottom: 29px; */
    padding-bottom: 100px;
    color: green;
    margin-top: -10px;
    padding: 10px;
    background-color: #1fc91f;
    color: white;
    text-align: center;
    z-index: 100;
    width: 100%;
}
