/* Estilos padrão */

/* Reset de estilos e fontes padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão e cor de fundo do corpo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo para cabeçalhos */
h2, h3 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    padding: 40px
}   

/* Estilo para consultas */
.consulta {
    background-color: hsl(199deg 86% 78% / 74%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; /* Largura relativa */
    max-width: 900px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo para a imagem do paciente */
.consulta img {
    display: block;
    margin: 0 auto 10px; /* Centraliza a imagem */
    max-width: 100%;
    border-radius: 20px;
}

/* Estilo para texto dentro de .consulta */
.consulta p {
    margin-bottom: 10px;
    color: white;
}

/* Estilo para os botões */
.botoes-container {
    text-align: center;
    margin-top: 20px;
}

.concluir-btn, .cancelar-btn, .reagendar-btn {
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.concluir-btn:hover, .cancelar-btn:hover, .reagendar-btn:hover {
    background-color: #0056b3;
}

/* Estilos para tamanhos de tela maiores que 768px */
@media (min-width: 768px) {
    .consulta {
        margin-bottom: 40px;
    }
}

/* Ajustes para botões em telas menores */
@media (max-width: 768px) {
    .consulta {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .concluir-btn, .cancelar-btn, .reagendar-btn {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}

/* Estilo para os botões de avançar e retroceder */
#retroceder-data, #avancar-data {
    /* margin-right: 60%; */
    /* margin-left: 22%; */
    background-color: hsl(199deg 86% 78%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 20px auto; */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo quando o mouse está sobre os botões de avançar e retroceder */
#retroceder-data:hover,
#avancar-data:hover {
    background-color: #0056b3;
}

#data-selecionada {
    /* margin-left: 18%; */
    /* display: block; */
    text-align: center;
    /* margin-top: 20px; */
    font-size: 18px;
    color: #ffffff;


}
@media (max-width: 768px) {

    
    #retroceder-data, #avancar-data {
        margin-left: 7%;
        /* margin-right: 10%; */
    }

    #data-selecionada {
        padding-left: 15px;
        margin-left: 0;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .date-navigation {
        display: flex;
        /* padding-left: 5%; */
        margin-right: 6.5%;
        align-content: stretch;
        justify-content: space-evenly;
    }
}

.servico-info {
    max-height: 100px; /* Defina a altura máxima desejada para as observações */
    overflow: hidden;
}

.servico-info p {
    margin-bottom: 5px; /* Adicione algum espaço entre os parágrafos */
}
.concluir-btn{
    background-color: green;
}
.concluida {
    color: green; /* Cor para consultas concluídas */
}
.reagendar-btn{

    background-color: orange;
}
 .reagendada {
    color: orange; /* Cor para consultas reagendadas */
}
.cancelar-btn{
    background-color: red;
}
.cancelada {
    color: red; /* Cor para consultas canceladas */
}

.consulta-status .agendada {
    color: blue; /* Cor para consultas agendadas */
}

.date-navigation {
    display: flex;
    /* padding-left: 5%; */
    /* margin-left: 6.5%; */
    align-content: stretch;
    justify-content: space-evenly;
}


