/* Estilos padrão */

/* Reset de estilos e fontes padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão e cor de fundo do corpo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

/* Estilo para cabeçalhos */
h2, h3 {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

/* Estilo para consultas */
.consulta {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; /* Largura relativa */
    max-width: 900px; /* Largura máxima */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo para a imagem do paciente */
.consulta img {
    display: block;
    margin: 0 auto 10px; /* Centraliza a imagem */
    max-width: 100%;
    border-radius: 20px;
}

/* Estilo para texto dentro de .consulta */
.consulta p {
    margin-bottom: 10px;
}

/* Estilo para os botões */
.botoes-container {
    text-align: center;
    margin-top: 20px;
}

.concluir-btn, .cancelar-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.concluir-btn:hover, .cancelar-btn:hover {
    background-color: #0056b3;
}

/* Estilos para tamanhos de tela maiores que 768px */
@media (min-width: 768px) {
    .consulta {
        margin-top: 40px;
    }
}

/* Ajustes para botões em telas menores */
@media (max-width: 768px) {
    .consulta {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .concluir-btn, .cancelar-btn {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}
