
.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Inicialmente oculto na esquerda */
    width: 250px;
    height: 100%;
    background-color: #28B6F65c;
    padding-top: 60px;
    transition: 0.5s; /* Adiciona uma transição suave para a animação */
    z-index: 2; /* Defina um índice z para o menu */
}
a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #2980b9; /* Cor desejada ao passar o mouse */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    font-size: 20px;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}


.menu-toggle {
    margin-top: -10px;
    /* padding-top: 10px; */
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 3;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.menu-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}



.fac {
    margin-top: -12px;
    /* margin: -50px; */
    padding: 0.5%;
    background: #28B6F65c;
    width: 100%;
    padding-right: 10%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1;
}


h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.fac h1 {
    
    position: absolute; /* Adiciona posição absoluta ao h1 */
    top: 0; /* Coloca o h1 no topo do contêiner pai (.fac) */
    left: 0; /* Coloca o h1 no canto superior esquerdo do contêiner pai (.fac) */
    width: 100%; /* Define a largura do h1 como 100% do contêiner pai (.fac) */
    margin: 0; /* Remove margens do h1 */
    padding: 10px; /* Adiciona preenchimento ao h1 conforme necessário */
    z-index: 1000; /* Define a ordem de empilhamento do h1 */
}
/* Estilo para dispositivos móveis */
@media (max-width: 767px){
    .fac {
        
        position: fixed;
        padding-left: 35%;
        padding-right: 100px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
        margin-top: -16px;
        padding: 9px;
    }
}

/* Adicionei apenas para testar */
        .submenu {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .submenu.active {
            display: block;
            opacity: 1;
        }


/* Adicione as transições de sua preferência */





