body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #01559B, #ffffff);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}
h2 {
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    width: 100%;
}

.dentistas-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-grow: 1;
}

.dentista-card {
    background: linear-gradient(to bottom, #ffffff, #28B6F6); /* Adicione essa linha para o degradê */
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    width: calc(30% - 40px);
    max-width: 300px;
    min-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
}


.dentista-card:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, #28B6F6,  #ffffff);
}

.dentista-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.dentista-img {
    height: 150px;
    width: 100%;
    object-fit: cover; /* Ajuste para cobrir a área do contêiner */
    border-radius: 8px 8px 0 0; /* Adicionei borda superior arredondada para manter a estética */
}

.dentista-card p {
    color: #666;
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #01559B   ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 768px) {
    .dentista-card {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .dentista-card {
        width: calc(100% - 40px);
    }

    
}

#banner {
    background-image: url('../img/banner2.jpg');
    background-size: cover; /* Para cobrir toda a tela com a imagem */
    background-position: center; /* Para centralizar a imagem */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhar o conteúdo no centro */
    width: 100%; /* Largura do banner será igual à largura da janela de visualização (viewport width) */
    height: 100vh; /* Altura do banner será igual à altura da janela de visualização (viewport height) */
    display: flex;
    justify-content: center; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Alinha o conteúdo horizontalmente */
    flex-direction: column;
    animation-name: fadeIn; /* Nome da animação */
    animation-duration: 1s; /* Duração da animação */
    animation-timing-function: ease-in-out; /* Função de temporização da animação */
    animation-fill-mode: both; /* Aplica o estado final da animação ao elemento */
}

/* Definindo a animação de fade in */
@keyframes fadeIn {
    from {
        opacity: 0; /* Inicia com opacidade 0 (invisível) */
    }
    to {
        opacity: 1; /* Termina com opacidade 1 (totalmente visível) */
    }
}
.container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Alinha os elementos horizontalmente */
    justify-content: center; /* Alinha os elementos verticalmente */
    text-align: center; /* Alinha o texto no centro */
}

.procura {
    order: -1; /* Define a ordem do elemento h2 acima do elemento a */
}

:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
  }
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }

  .select-box option {
    font-size: 16px;
    color: #333;
    background-color: var(--option-bg);
}

/* Estilo do foco das opções do select */
.select-box option:focus {
    outline: none;
    background-color: #f0f0f0;
}
  
