body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1b1b;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 30px;
    width: 100%;
}

.dentistas-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-grow: 1;
}

.dentista-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: calc(30% - 40px);
    max-width: 300px;
    min-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.dentista-card:hover {
    transform: scale(1.02);
}

.dentista-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.dentista-img {
    height: 150px;
    width: 100%;
    object-fit: cover; /* Ajuste para cobrir a área do contêiner */
    border-radius: 8px 8px 0 0; /* Adicionei borda superior arredondada para manter a estética */
}

.dentista-card p {
    color: #666;
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 768px) {
    .dentista-card {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .dentista-card {
        width: calc(100% - 40px);
    }
}
