html {
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: hsl(199deg 86% 78% / 73%);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

}


h2 {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.73);
    margin-top: 30px;
    width: 100%;
}

.dentistas-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-grow: 1;
}

.dentista-card {
    background: linear-gradient(to bottom, #ffffff, #28B6F6); /* Adicione essa linha para o degradê */
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    width: calc(30% - 40px);
    max-width: 300px;
    min-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
}


.dentista-card:hover {
    transform: scale(1.05);
    background: linear-gradient(to bottom, #28B6F6,  #ffffff);
}

.dentista-card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.dentista-img {
    height: 150px;
    width: 100%;
    object-fit: cover; /* Ajuste para cobrir a área do contêiner */
    border-radius: 8px 8px 0 0; /* Adicionei borda superior arredondada para manter a estética */
}

.dentista-card p {
    color: #ffffff;
}

a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}



@media screen and (max-width: 768px) {
    .dentista-card {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .dentista-card {
        width: calc(20% - 40px);
    }

    
}
#banner {
    margin-top: -40px;
    background-image: url(../img/dente11.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Adiciona posição relativa ao banner */
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

h1 {
    position: absolute; /* Adiciona posição absoluta ao h1 */
    top: 0; /* Coloca o h1 no topo do banner */
    left: 50%; /* Alinha o h1 horizontalmente ao centro */
    transform: translateX(-50%); /* Corrige o deslocamento horizontal */
    z-index: 1; /* Define a ordem de empilhamento do h1 */
}


/* Definindo a animação de fade in */
@keyframes fadeIn {
    from {
        opacity: 0; /* Inicia com opacidade 0 (invisível) */
    }
    to {
        opacity: 1; /* Termina com opacidade 1 (totalmente visível) */
    }
}
.container {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Alinha os elementos horizontalmente */
    justify-content: center; /* Alinha os elementos verticalmente */
    text-align: center; /* Alinha o texto no centro */
}

.procura {
    order: -1; /* Define a ordem do elemento h2 acima do elemento a */
}

:root {
    --arrow-bg: hsl(199deg 86% 78% / 73%);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgba(255, 255, 255, 0.172);
    --select-bg: hsl(199deg 86% 78% / 73%); 

  }
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0px 10px 50px 47px rgba(0,0,0,0.1);
        cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }

  .select-box option {
    font-size: 16px;
    color: #333;
    background-color: var(--option-bg);
}

/* Estilo do foco das opções do select */
.select-box option:focus {
    outline: none;
    background-color: #f0f0f0;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
  
  .ver-mais-btn {
    /* margin-right: 10px; */
    /* padding-right: 10px; */
    left: 60%;
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    top: -200px;
}
.ver-mais-btn:hover {
    background-color: #25D366;
}

/* Estilo para dispositivos desktop */

.fac {
    margin-top: 0%;
    padding: 1%;
    background: #28B6F65c;
    width: 100%;
    padding-right: 10%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    position: fixed;
}

.fac h1 {
    position: absolute; /* Adiciona posição absoluta ao h1 */
    top: 0; /* Coloca o h1 no topo do contêiner pai (.fac) */
    left: 0; /* Coloca o h1 no canto superior esquerdo do contêiner pai (.fac) */
    width: 100%; /* Define a largura do h1 como 100% do contêiner pai (.fac) */
    margin: 0; /* Remove margens do h1 */
    padding: 10px; /* Adiciona preenchimento ao h1 conforme necessário */
    z-index: 1000; /* Define a ordem de empilhamento do h1 */
}
/* Estilo para dispositivos móveis */
@media (max-width: 767px) {
    .fac {
        padding: 10px;
        position: fixed;
        padding-left: 15%;
        padding-right: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Estilo para o botão do WhatsApp */
.whatsapp-btn {
    display: inline-block;
    background-color: #25D366;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o ícone do WhatsApp */
.whatsapp-btn img {
    vertical-align: middle;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

/* Estilo do modal */
.modal {
    display: none; /* Ocultar o modal por padrão */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    margin: 6% auto;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do conteúdo dentro do modal */
#medico-details, p{
    text-align: center;
    color: white;
}

#medico-foto {
    margin-left: 25%;
    align-items: center;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

#medico-nome,
#medico-especializacao {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Animação de entrada do modal */
.modal-content {
    animation: modal-show 0.3s ease-out;
}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#medico-maps {
    background: linear-gradient(to right, #28B6F6,  #ffffff);
    height: 20px; /* Ajuste a altura conforme necessário */
}

#changing-text {
    font-size: 24px;
    font-weight: bold;
}








