* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    background: dodgerblue;
}

header {
    background-color: #28b6f6fc;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    order: 1; /* Define a ordem dos elementos no flex container */
}

header nav {
    order: 2; /* Define a ordem dos elementos no flex container */
}

header nav ul {
    display: flex;
}

header nav ul li a {
    
    display: inline-block;
    color: #ffffff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #ffffff;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 50px;
        width: 100%;
        background-color: #28B6F65c;
        padding: 30px;
        transition: 0.3s;
        z-index: 100;
    }

    header #nav_check:checked~nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
        margin: 5px 0;
        color: white;
    }
}
