* {

    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
     background: dodgerblue; 
}

header {
    background-color: hsl(199deg 86% 78%);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header .logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    order: 1;
    /* Define a ordem dos elementos no flex container */
}

header nav {
    order: 2;
    /* Define a ordem dos elementos no flex container */
}

header nav ul {
    display: flex;
}

header nav ul li a {

    display: inline-block;
    color: #ffffff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: dodgerblue;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #ffffff;
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 50px;
        width: 100%;
        background-color: hsl(199deg 86% 78% / 87%);
        padding: 30px;
        transition: 0.3s;
        z-index: 100;
    }

    header #nav_check:checked~nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {

        margin: 5px 0;
        color: white;
    }

    header nav ul li a:hover,
    header nav ul li a.active {
        border-bottom-color: rgb(255, 255, 255);
    }

    header nav ul li label:hover,
    header nav ul li label.active {
        border-bottom-color: rgb(255, 255, 255);

    }



}

/* Mantenha as regras CSS existentes */

.submenu-content {
    margin-left: -3px;
    margin-top: -2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra */
    z-index: 1;
    border-radius: 5px;
    /* Adiciona borda arredondada */
}

.submenu-content li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    margin-bottom: 5px;
}

.submenu-content a {
    display: block;
    /* Faz os links ocuparem toda a largura do submenu */
    padding: 5px 0;
    /* Espaçamento interno */
    color: #28b6f6c2;
    /* Cor do texto do submenu */
    font-weight: bold;
    transition: color 0.2s;
    /* Transição suave */
}

.submenu-content a:hover {
    color: #007bff;
    /* Cor do texto do submenu ao passar o mouse */
}

.submenu input[type="checkbox"] {
    display: none;

}

.submenu label {
    display: inline-block;
    color: #ffffff;
    padding: 5px 0;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

.submenu label:hover {
    color: #fff;
    /* Cor do texto ao passar o mouse */
}

.submenu input[type="checkbox"]:checked~.submenu-content {
    display: block;
}

label:hover,
label.active {
    border-bottom-color: dodgerblue;

}